<app-loading *ngIf="loading"></app-loading>

<form id="detail_submit" (ngSubmit)="postData(forma)" #forma="ngForm">

    <input type="hidden" name="uuid" ng-value="item[uuid]" #uuid="ngModel" [(ngModel)]="item[uuid]">

    <div class="box-body">

        <div *ngFor="let field of fields.inDetail" class="form-group">
            <!--<input type="text" name="{{ field }}" class="form-control" placeholder="Email" #{{field}}="ngModel" [(ngModel)]="data[field]">-->
            <entity-form-element [item]="item" [editableItem]="editableItem" [field]="field" [editableFields]="fields.editable"></entity-form-element>
        </div>

    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>